.main-heading {
  display: flex;

  background-color: rgb(243, 245, 237);
  width: 650px;
  border-radius: 24px;
  margin-bottom: 10px;
}

.main-heading:hover {
  cursor: pointer;
}

.main-heading p {
  flex: 1;
  align-self: center;
}
.ans {
 
  width: 600px;
  height: 90px;

  font-size: 14px;

  line-height: 28px;
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: 0px;
  margin: 20px 0px 0px 0px;
  padding: 0px 0px 0px 30px;

  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none solid rgb(41, 45, 53);
  text-align: start;
  text-indent: 0px;

  
}

.que {
  font-family: "Fira Sans", serif;
  font-size: 18px;

  line-height: 18px;
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: 0px;
  margin: 0px;
  padding: 25px;

  font-weight: 600;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none solid rgb(142, 192, 56);
  text-align: left;
  text-indent: 0px;

  flex: 7;
}
